.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

.navegacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size:large;
    background-color: rgb(223, 211, 211);
    justify-content: space-between;
}

.list li{
    margin: 5px;
    justify-content: center;
   
}

.logo{
    height: 100px;
    border-radius: 10px;
}