.list{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list li{
    margin: 5px;
}

.logo{
    height: 50px;
}