.detail {
    display: block;
    width: 300px;
}

.tarjeta-producto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-btn-dark{
    border:1px solid black;
    width:150px;
    height:30px;
    font-size:15px;
    background-color: rgba(187, 187, 235, 0.603);
}