.contador{
    width: fit-content;
    height: 30px;
    background-color: rgb(166, 172, 185);
    margin-left: 38%;
    padding: 30px;
    text-align: center;
}

.disminuir{
    margin-right: 10px;
}

.aumentar{
    margin-left: 10px;
}

.agregar{
    margin-top: 10px;
}

