.contenedor{
    font-size: 25px;
    background-color: whitesmoke;
    padding: 10px;
   
}

.itemList{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 2%;
    justify-items: center;
    
}