.page-contact{
    width: 800px;
    height: 500px;
    background-color: rgb(226, 226, 228);
    border-color: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 25px;
}

img{
    max-width: 70%;
    max-height: 70%;  
}

.img-redes{
    width: 300px;
    height: 300px;
    margin-left: 240px;
}